<!DOCTYPE html>
<html>
<head>
<title></title>
<link rel="stylesheet" href="style.css">
</head>

<body ng-app="comboApp" ng-controller="labCtrl">

    <a href="#!/pin">link</a><button type="button"></button>
    <a href="#!/lab">link</a><button type="button"></button>

    <ng-view></ng-view>

    <input type="number" placeholder="number" ng-model="input">
    <button ng-click="doFizzBuzz" value="math">do math</button>

    <p> {{ result }} </p>



<script src="lib/angular.min.js"></script>
<script src="lib/angular-route.min.js"></script>
<script src="script.js"></script>
<script src="pinService.js"></script>    
<script src="labService.js"></script>    
<script src="pinCtrl.js"></script>
<script src="labCtrl.js"></script>
</body>
</html>
