
html {
    background-color: #4a5a34;
}

.header {
    width: 100%;
    height: 3em;
    background-color: #ffffff;
    text-align: center;
    padding-top: 1em;
    font-size: 17pt;
}



ng-view {
    background-color: antiquewhite;
    width: 60em;
    height: 80em;

}

.header a {
    text-transform: uppercase;
    background-color: #2c2822;
    padding: 1em;
    color: aliceblue;
    float: left;
}

.header a, #labview button {
 border-radius: 15px 50px 5px 5px;
}

#result {
    font-size: 15pt;
}

#labview {
    width: 40em;
    height: 40em;
}

div {
    70em;
    90em;
}
p {
  font-size: 30px;
  font-family: comic sans ms;
  color:blue;
}
